<div class="container mt-3">
  <%= turbo_frame_tag "create-blog" do %>
    <div class="d-flex justify-content-between align-items-center">
      <h1 class="display-3">Blogs</h1>
      <%= link_to "New blog", new_blog_path, class: "btn btn-primary btn-lg ms-auto" %>
    </div>
  <% end %>
  <div id="blogs" class="mt-4">
    <%= render @blogs %>
  </div>
</div>
